.gameHistory {
  height: 70vh;
  overflow: auto;
  width: 300px;
}

.historyStep {
  border: none;
  padding: 2px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #d9d9d9,
    -8px -8px 16px #ffffff;
  margin: 10px 0 10px 30px;
}

.historyStep.active {
  transform: scale(1.1);
  font-weight: bold;
}


ul {
  list-style: none;
}

ul li {
  position: relative;
}

ul li::after {
  position: absolute;
  width: 30px;
  height: 5px;
  left: -5px;
  top: 20px;
  content: '';
  background-color: #000;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}